db.sqlite3
__pycache__/
*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/itech-group-t.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.DS_Store
.idea/workspace.xml
itech-group-t/settings.env
