<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>

	<head>
		<link href="{% static 'css/basic/basic.css' %}" rel="stylesheet" title="basicstyle" type="text/css" />
		<title> 
			Vinyl Destination
            {% block title_block %}
			{% endblock %}
		</title>
	</head>

	<body>

		<div class = "header">
			<div class = "title">
				<img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/>
			</div>
			<div class = "nav">
				{% if user.is_authenticated %}
    				<!-- !! USER BUTTONS (eg. home, my vinyl, browse, search bar etc) !! --->
					{{ user.username }}
					<li><a href="{% url 'rango:logout' %}">Logout</a></li>
				{% else %}
    				<!-- !! LOGIN FUNCTIONALITY !! --->
    				<li><a href="{% url 'rango:register' %}">Sign Up</a></li>
					<li><a href="{% url 'rango:login' %}">Login</a></li>
				{% endif %}
			</div>
		</div>

		<div class = "body">
			{% block body_block %}
				{% get_category_list category %}
			{% endblock %}
		</div>

	</body>

</html>