{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}

	{% if user.is_authenticated %}
		<div id = "loggedin">
			!! EDIT !!
		</div>
	{% else %}
		<div id = "loggedout">
			Vinyl Destination, the most convenient way to manage and grow your vinyl collection.
			<div id = "register">
				!! REGISTER FUNCTIONALITY !!
			</div>
		</div>
	{% endif %}

	<div>
		Most Liked Categories
		{% if categories %}
		<ul>
			{% for category in categories %}
			<li>
				<a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
			There are no categories present.
		{% endif %}
	</div>

{% endblock %}