{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}

	{% if user.is_authenticated %}
		<div class = "loggedin">
			!! EDIT !!
			<div>
				Most liked lists
				{% if categories %}
				<ul>
					{% for category in categories %}
					<li>
						<a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				There are no records present.
				{% endif %}
			</div>
		</div>

	{% else %}
		<div class = "loggedout">
			Vinyl Destination, the most convenient way to manage and grow your vinyl collection.
			<div class = "register">
				!! REGISTER FUNCTIONALITY !!
			</div>
		</div>
	{% endif %}

		<div class = "trending">
			!! TRENDING RECORDS !!
		</div>

{% endblock %}