{% extends 'vinyldestination/base.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/basic/final_review.css' %}" rel="stylesheet" title="basicstyle" type="text/css"/>
{% endblock %}

{% block title_block %}
Review {{record.name}}
{% endblock %}

{% block body_block %}

<a href="{% url 'vinyldestination:index' %}"><img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/></a>

<div class="container">

	<div class = "block">
		<img src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}" width="400px"/>
	</div>

	<div class = "block">
	<form id="review_form" method="post"
		  enctype="multipart/form-data">
		<h3>You are logged in as {{ user.username }}</h3>
		<h3>You are leaving a review for {{record.name}} by {{record.a_id}}</h3>
		{% csrf_token %}
		{{ review_form.non_field_errors }}

		<div class="fieldWrapper">
			<label for="{{ review_form.title.id_for_label }}">Title of review:</label></br>
			{{ review_form.title }}
		</div>
		<br>

		<div class="fieldWrapper">
			{{ review_form.non_field.errors }}
			<label for="{{ form.review.id_for_label }}">Your review:</label></br>
			{{ review_form.review }}
		</div>
		<br>
		<center><input type="submit" id="button" name="submit" value="Submit Review" /><center>
	</form>
	</div>
</div>

{% endblock %}