{% extends 'vinyldestination/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
	{% if artist %}
        {{ artist.name }}
    {% else %}
        Unknown Artist
    {% endif %}
{% endblock %}

{% block body_block %}
	{% if artist %}
	<h1>{{ artist.name }}'s Albums</h1> 
		{% if albums %}
		<ul>
			{% for album in albums %}
			<li><a href="/vinyldestination/artists/{{artist.slug }}/{{album.slug}}">{{ album.title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>This artist has no albums.</strong>
		{% endif %}
	{% endif %}

	<!-- {% if user.is_authenticated %}
	<a href="{% url 'vinyldestination:add_page' category.slug %}">Add Page</a> <br />
	{% else %}
		The specified category does not exist.
	{% endif %} -->
{% endblock %}