<!DOCTYPE html>
{% load staticfiles %}
{% load vinyldestination_template_tags %}

<html>

	<head>
		<link href="{% static 'css/basic/basic.css' %}" rel="stylesheet" title="basicstyle" type="text/css"/>
		<title> 
			Vinyl Destination
            {% block title_block %}
			{% endblock %}
		</title>
	</head>

	<body>

		<div class = "header">
			<div class = "title">
				<img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/>
			</div>
			<div class = "nav">
				{% if user.is_authenticated %}
    				<!-- !! USER BUTTONS (eg. home, my vinyl, browse, search bar etc) !! --->
					{{ user.username }}
					<li><a href="{% url 'vinyldestination:logout' %}">Logout</a></li>
					<li><a href="{% url 'settings' %}">Settings</a></li>
				{% else %}
    				<!-- !! LOGIN FUNCTIONALITY !! --->
    				<li><a href="{% url 'vinyldestination:register' %}">Sign Up</a></li>
					<li><a href="{% url 'vinyldestination:login' %}">Login</a></li>
				{% endif %}
					<li><a href="{% url 'vinyldestination:artists' %}">Artists</a></li>
					<li><a href="{% url 'vinyldestination:index' %}">Home</a></li>
			</div>
		</div>

		<div class = "body">
			{% block body_block %}
			{% get_artist_list artist %}
			{% endblock %}
		</div>

	</body>

</html>