<!DOCTYPE html>
{% load staticfiles %}
{% load vinyldestination_template_tags %}

<html>

	<head>
		<link href="{% static 'css/basic/basic.css' %}" rel="stylesheet" title="basicstyle" type="text/css"/>
		<title>
            {% block title_block %}
			{% endblock %}
		</title>
	</head>

	<body>

	<div class = "nav">
		<div class = "header">
		<a href="{% url 'vinyldestination:index' %}"><img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/></a>
		</div>
		<div class = "menu">
			{% if user.is_authenticated %}
			{{ user.username }}
			<a href="{% url 'settings' %}">Settings</a>
			<a href="{% url 'vinyldestination:logout' %}">Logout</a>
			{% else %}
			<form id="login_form" method="post" action="{% url 'vinyldestination:login' %}">
				{% csrf_token %}
				Username: <input type="text" id="input_field" name="username" value=""/>
				Password: <input type="password" id="input_field" name="password" value=""/>
				<input type="submit" id="button" value="submit"/>
				</br>
				</br>
				or sign in using
				<a href="{% url 'social:begin' 'github' %}"><img src="{% static 'images/github.png' %}" alt="github" style="width:20px;"/></a>
				<a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/facebook.png' %}" alt="facebook" style="width:20px;"/></a>
				<a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'images/twitter.png' %}" alt="twitter" style="width:20px;"/></a>
			</form>
			{% endif %}
		</div>
	</div>

	{% block body_block %}
	{% get_artist_list artist %}
	{% endblock %}

	</body>

</html>