{% extends 'vinyldestination/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Vinyl Destination Homepage
{% endblock %}

{% block body_block %}

	{% if user.is_authenticated %}
		<div class = "loggedin">
			{{ user.username }}'s Lastest Updates
			<div>
				Most liked Artists
				{% if artists %}
				<ul>
					{% for artist in artists %}
					<li>
						<a href="/vinyldestination/artists/{{artist.slug }}/">{{ artist.name }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				There are no artists present.
				{% endif %}
			</div>

			<div>
				Most liked Records
				{% if records %}
				<ul>
					{% for record in records %}
					<li>
						<a href="/vinyldestination/records/{{record.slug }}/">{{ record.name }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				There are no artists present.
				{% endif %}
			</div>
		</div>

	{% else %}
		<div class = "loggedout">
			Vinyl Destination, the most convenient way to manage and grow your vinyl collection.
		</div>
	{% endif %}

		<div class = "trending">
			<!-- !! TRENDING RECORDS !! -->
		</div>

{% endblock %}