{% extends 'vinyldestination/base.html' %}
{% load staticfiles %}

{% block title_block %}
Vinyl Destination
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}

<div class = "home">
	{{ user.username }}'s Lastest Updates
</div>

{% else %}

<div class = "welcome">
	<div class = "info">
		<h2>Vinyl Destination, the most convenient way to manage and grow your vinyl collection.</h2>
	</div>

	<div class = "register">
		<a href="{% url 'vinyldestination:register' %}">Sign Up</a>
		<p>Username:</p>
		<p>Email address:</p>
		<p>Password:</p>
		<p>Website:</p>
		<p>Picture:</p>
		<p>Choose file</p>
		<p>Register</p>
	</div>

</div>

{% endif %}

<h3>Trending records</h3>
		<div class = "trending">
			{% if records %}
				{% for record in records%}
				<a href="/vinyldestination/records/{{ record.slug }}/"><img id="recordartwork" src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}"></a>
					{% endfor %}
			{% else %}
			There are no records present.
			{% endif %}
		</div>

{% endblock %}
