{% extends 'vinyldestination/base.html' %}
{% load staticfiles %}

{% block title_block %}
Vinyl Destination
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}

<div class = "home">
	<h1>Top Rated Records</h1>
		<div class = "records">
			{% if records %}
				{% for record in records %}
				<a href="{% url 'vinyldestination:records' %}{{ record.slug }}/"><img id="recordartwork" src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}"></a>
					{% endfor %}
			{% else %}
			There are no records present.
			{% endif %}
		</div>
</div>

{% else %}

<div class = "welcome">
	<div class = "info">
		<h2>vinyldestination, the most convenient way to manage and grow your vinyl collection.</h2>
	</div>
	<div class = "register">
		{{ form.non_field_errors }}
		<form id="form" method="post" action="{% url 'vinyldestination:register' %}"
			  enctype="multipart/form-data">
			{% csrf_token %}
			<ul id="fields">
				<h2>New here? Create a free account!</h2>
				{{ user_form.as_ul }}
				{{ profile_form.as_ul }}
			</ul>
			<div class = terms>
				<input type="submit" id="button" name="submit" value="Sign Up"/>
				<p>by clicking "Sign Up" I agree to the vinyldestination Terms of Service and confirm that I am at least 13 years old</p>
			</div>
		</form>
	</div>
{% endif %}
</div>
{% if user.is_authenticated %}
<h1>Trending records</h1>
{% else %}
<h3>Trending records</h3>
{% endif %}
		<div class = "records">
			{% if trending %}
				{% for record in trending %}
				<a href="{% url 'vinyldestination:records' %}{{ record.slug }}/"><img id="recordartwork" src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}"></a>
					{% endfor %}
			{% else %}
			There are no records present.
			{% endif %}
		</div>
{% endblock %}
