{% load staticfiles %}

<head>
	<link href="{% static 'css/basic/final_form.css' %}" rel="stylesheet" title="basicstyle" type="text/css"/>
	<title>
		Login
	</title>
</head>

<div class = admin>

	<div class = "header">
		<a href="{% url 'vinyldestination:index' %}"><img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/></a>
	</div>

	{% if user.is_authenticated %}
	<p>You are already logged in as {{ user.username }}</p>
	<a href="{% url 'vinyldestination:logout' %}">Logout?</a>
	{% else %}
	<h2>Login to vinyldestination</h2>
	<form id="form" method="post" action="{% url 'vinyldestination:login' %}">
		{% csrf_token %}
		Username:
		<input type="text" name="username" value=""/>
		Password:
		<input type="password" name="password" value=""/>
		<p><input type="submit" id="button" value="submit" /></p>
	</form>
	<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
	<br/>
	<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
	<br/>
	<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
	{% endif %}

</div>
