{% load staticfiles %}

<head>
    <link href="{% static 'css/basic/finaladmin.css' %}" rel="stylesheet" title="basicstyle" type="text/css"/>
	<title>
		Vinyl Destination - Password
	</title>
</head>

<div class = padding>
</div>

<div class = admin>

    <div class = "header">
        <a href="{% url 'vinyldestination:index' %}"><img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/></a>
    </div>

    <h3>Change Password</h3>
    {% if not user.has_usable_password %}
        <p style="color: red">You have not defined a password yet.</p>
    {% endif %}
    <form id="form" method="post">
        {% csrf_token %}
        <ul>
        {{ form.as_ul }}
        </ul>
        <p><button type="submit" id="button">Save changes</button></p>
    </form>

</div>

<div class = padding>
</div>