{% extends 'vinyldestination/base.html' %}
{% load staticfiles %}
{% load ratings %}

{% block title_block %}
	{% if record %}
	{{record.a_id}} - {{record.name}}
    {% else %}
    Unknown Artist - Unknown Record
    {% endif %}
{% endblock %}

{% block body_block %}

<div class = "maincontainer">

	<div class = "recordcontainer">
		{% if record %}
		<h4>{{record.name}} by {{record.a_id}}</h4>
		</br>
		<div class = "statscontainer">
				<img id="singleimage" src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}"></a>
			<div class = "stats">
				Released in {{record.year}}</br>
				Genre: {{record.genre}}</br>
				Views: {{record.views}}</br>
				{% block content %}
				{% ratings record %}
				{% endblock content %}
				{% if user.is_authenticated %}</br>
				<a id="reviewbutton" href="/vinyldestination/records/{{ record.slug }}/add_review" title="review">Leave A Review</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
		</br>
		<div class = "recorddescription">
			{{artist.description}}
		</div>
	</div>

	<div class = "artistcontainer">
		{% if artist %}
		<h4>About the artist:</h4>
		</br>
		<div class = "artistimagecontainer">
			<img id="artistimage" src="{{MEDIA_URL}}{{ artist.image }}" alt="{{ record.name }}"></a>
		</div>
		</br>
		<div class = "artistdescription">
			{{artist.description}}
		</div>
	</div>

	{% endif %}
</div>

<div class = "similar">
	{% if similar %}
	<h2>Similar records in {{record.genre}}</h2>
	{% for record in similar%}
	<a href="/vinyldestination/records/{{ record.slug }}/"><img id="recordartwork" src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}"></a>
	{% endfor %}
	{% else %}
	There are no records present.
	{% endif %}
</div>

<div class = "reviews">
	<h2>Reviews of {{record.name}}</h2>
	{% if review %}
	{% for review in review %}
	<div class = singlereview>
		<h5>{{review.title}} by {{review.author}}</h5>
		<p>{{review.review}}</p>
	</div>
	</br>
	{% endfor %}
	{% else %}
	<div class = singlereview>
		There are no reviews present.
	</div>
	</br>
	{% endif %}
	{% endblock body_block%}
</div>
