{% extends 'vinyldestination/base.html' %}
{% load staticfiles %}

{% block title_block %}
Browse All Records
{% endblock %}

{% block body_block %}

<h1>All Records</h1>

<div>
	{% if records_all %}
	<ul>
		{% for record in records_all %}
		<a href="{% url 'vinyldestination:records' %}{{ record.slug }}/"><img id="recordartwork" src="{{MEDIA_URL}}{{ record.image }}" alt="{{ record.name }}"></a>
		{% endfor %}
	</ul>
	{% else %}
	<strong>There are no records present.</strong>
	{% endif %}
</div>

{% endblock %}