{% load staticfiles %}

<head>
	<link href="{% static 'css/basic/final_form.css' %}" rel="stylesheet" title="basicstyle" type="text/css"/>
	<title>
		Register
	</title>
</head>

<div class = padding>
</div>

<div class = admin>

	<div class = "header">
		<a href="{% url 'vinyldestination:index' %}"><img src="{% static 'images/logo.png' %}" alt="Vinyl Destination" style="width:400px;"/></a>
	</div>

	{% if user.is_authenticated %}
	<p>You are already logged in as {{ user.username }}</p>
	<a href="{% url 'vinyldestination:logout' %}">Logout?</a>
	{% else %}
	<h2>Register for vinyldestination</h2>
	{% if registered %}
	Thank you for registering!
	<a href="{% url 'vinyldestination:index' %}">Return to the homepage.</a><br/>
	{% else %}
	<form id="form" method="post" action="{% url 'vinyldestination:register' %}"
		  enctype="multipart/form-data">
		{% csrf_token %}
		<ul>
		{{ user_form.as_ul }}
		{{ profile_form.as_ul }}
		</ul>
		<p><input type="submit" id="button" name="submit" value="Register"/></p>
	</form>

	{% endif %}
	{% endif %}

</div>

<div class = padding>
</div>